$black_l : #494949;
$black_m : #383737;
$black_d : #262626;

$green_l : #42c7b7;
$green_m : #24aa98;
$green_d : #1a9385;

$blue_l : #42c7b7;
$blue_m : #24aa98;
$blue_d : #1a9385;

$orange_l : #42c7b7;
$orange_m : #24aa98;
$orange_d : #1a9385;

$red_l : #42c7b7;
$red_m : #24aa98;
$red_d : #1a9385;

$grey_l : #42c7b7;
$grey_m : #24aa98;
$grey_d : #1a9385;

.color {
  display: inline-block;
  border-radius: .5rem;
  color: #ffffff;
  font-weight: 600;
  background: $black_m;
  overflow: hidden;
  font-size: 0;

  &__description {
    font-size: 1.4rem;
    padding: 20px;
  }
  
  &__hex {
    font-size: 1.6rem;
    color: #c0c0c0;
  }

  &__shade {
    display: inline-block;
    width: 48px;
    height: 48px;

    &:nth-child(1) {
      background: $black_l;
    }
    &:nth-child(2) {
      background: $black_m;
    }
    &:nth-child(3) {
      background: $black_d;
    }
  }

  // green 
  &--green &__shade { //colors--green__shade

    &:nth-child(1) {
      background: $green_l;
    }
    &:nth-child(2) {
      background: $green_m;
    }
    &:nth-child(3) {
      background: $green_d;
    }
  }

  &--green &__description {
    color: $green_m;
  }

  // blue
  &--blue &__shade {

    &:nth-child(1) {
      background: $blue_l;
    }
    &:nth-child(2) {
      background: $blue_m;
    }
    &:nth-child(3) {
      background: $blue_d;
    }
  }

  &--blue &__description {
    color: $blue_m;
  }

  // orange
  &--orange &__shade {

    &:nth-child(1) {
      background: $orange_l;
    }
    &:nth-child(2) {
      background: $orange_m;
    }
    &:nth-child(3) {
      background: $orange_d;
    }
  }

  &--orange &__description {
    color: $orange_m;
  }

  // red
  &--red &__shade {

    &:nth-child(1) {
      background: $red_l;
    }
    &:nth-child(2) {
      background: $red_m;
    }
    &:nth-child(3) {
      background: $red_d;
    }
  }

  &--red &__description {
    color: $red_m;
  }

  // grey
  &--grey &__shade {

    &:nth-child(1) {
      background: $grey_l;
    }
    &:nth-child(2) {
      background: $grey_m;
    }
    &:nth-child(3) {
      background: $grey_d;
    }
  }

  &--grey &__description {
    color: $grey_m;
  }

}