<div class="sc sc--colors">

  <div class="colors colors--green">
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    
    <div class="colors__description">
      <p class="colors__name">Green</p>
      <p class="colors__hex">24aa98</p>
    </div>
  </div>

  <div class="colors colors--blue">
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    
    <div class="colors__description">
      <p class="colors__name">Blue</p>
      <p class="colors__hex">65abd0</p>
    </div>
  </div>

  <div class="colors colors--orange">
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    
    <div class="colors__description">
      <p class="colors__name">Orange</p>
      <p class="colors__hex">d9c26c</p>
    </div>
  </div>

  <div class="colors colors--red">
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    
    <div class="colors__description">
      <p class="colors__name">Red</p>
      <p class="colors__hex">db7560</p>
    </div>
  </div>

  <div class="colors colors--grey">
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>

    <div class="colors__description">
      <p class="colors__name">Grey</p>
      <p class="colors__hex">eaeaea</p>
    </div>
  </div>

  <div class="colors colors--black">
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>
    <span class="colors__shade"></span>

    <div class="colors__description">
      <p class="colors__name">Black</p>
      <p class="colors__hex">383737</p>
    </div>
  </div>

</div>