<div class="sc sc--colors">

  <div class="color color--green">
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    
    <div class="color__description">
      <p class="color__name">Green</p>
      <p class="color__hex">24aa98</p>
    </div>
  </div>

  <div class="color color--blue">
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    
    <div class="color__description">
      <p class="color__name">Blue</p>
      <p class="color__hex">65abd0</p>
    </div>
  </div>

  <div class="color color--orange">
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    
    <div class="color__description">
      <p class="color__name">Orange</p>
      <p class="color__hex">d9c26c</p>
    </div>
  </div>

  <div class="color color--red">
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    
    <div class="color__description">
      <p class="color__name">Red</p>
      <p class="color__hex">db7560</p>
    </div>
  </div>

  <div class="color color--grey">
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    <span class="color__shade"></span>

    <div class="color__description">
      <p class="color__name">Grey</p>
      <p class="color__hex">eaeaea</p>
    </div>
  </div>

  <div class="color color--black">
    <span class="color__shade"></span>
    <span class="color__shade"></span>
    <span class="color__shade"></span>

    <div class="color__description">
      <p class="color__name">Black</p>
      <p class="color__hex">383737</p>
    </div>
  </div>

</div>